.left {
float:left;
width:25%;}

.main {
	
    width:50%;
	
}
.right {
	float:left;
	width:25%
}
@media screen and (max-width:1100px){
.left,.main,.right {width:;}
}
@media screen and (max-width:1100px){
	.head {width:100px}
  padding: 20px;}

.wr{
	position:fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 80%;
  padding: 20px;
}
